body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}

.nav-wrapper {
    background-color: rgb(30, 30, 30);
    color: silver;
}

.page-footer {
    background-color: rgb(30, 30, 30);
    color: silver;
}

.card {
    width: 50%;
    border: silver 1vh;
    border-radius: 5px;
}

.card-content {
    background-color: grey;
    color: white;
}

.card-title {
    font-weight: bold;
}

#about-header,
#about-text {
    color: silver;
}