    body {
        font-family: 'Orbitron', sans-serif;
        background-color: black;
    }
    
    .btn {
      background-color: rgb(35, 80, 220);
    }

    .container,
    .select-dropdown.dropdown-trigger {
        color: silver;
    }
    
    .nav-wrapper {
        background-color: rgb(30, 30, 30);
        color: silver;
    }
    
    .page-footer {
        background-color: rgb(30, 30, 30);
        color: silver;
    }
    
    .card {
        border: 3px solid silver !important;
        border-radius: 25px;
    }
    
    .card-content {
        background-color: grey;
        color: white;
        border-radius: 22px !important;
    }
    
    .card-action {
        background-color: white;
        font-weight: bold;
        border-top: none;
        border-bottom-left-radius: 22px !important;
        border-bottom-right-radius: 22px !important;
    }
    
    .card-title {
        font-weight: bold;
    }
    
    #about-header,
    #about-text,
    #id_name,
    #id_ship_type,
    #id_registry,
    #id_length,
    #id_description,
    #id_date {
        color: silver;
    }